.tbimpresso td{
	border:0.1em solid black;
	padding:2px !important;
	padding-left:5px !important;
}

.tbimpresso #diasem{
	padding:5px !important;
	font-size:125% !important;
}

.tbimpresso th{
	border:0.1em solid black;
}

.search-query {
	width:120px;
}

#form-widgets-saida textarea {
	white-space: pre !important;
	word-wrap: normal !important;
	overflow-x: scroll !important;
}

#content textarea {
    font: 150% Monaco, "Courier New", Courier, monospace;
    width: 100%;
	height: 278px;
	white-space: pre !important;
	word-wrap: normal !important;
	overflow-x: scroll !important;
}

.type-sistema.agenda.evento{
 color:white;
}


.fc-event{	
	background-color: rgba(16, 1, 21, 0.81) !important;	
	padding-left: 3px !important;
}
.fc-content a:hover {
    color: #FFF !important;
}

.state-published {
    color: #C5A671 !important;
}

.state-agendado {
    color: RGBA(222, 191, 157, 0.76) !important;
}

.state-private {
    color: #D2913C  !important;
}

.state-terminado {
    color: #776B59  !important;
}

.state-em_analise {
    color: green  !important;
}
