.type-sistema.agenda.evento{
 color:white;
}

.fc-content a:hover {
    color: #FFF !important;
}
.state-published {
    color: #2F2222 !important;
}

.state-agendado {
    color: #2F2222 !important;
}

.state-private {
    color: #D2913C  !important;
}

.state-terminado {
    color: red  !important;
}

.state-em_analise {
    color: green  !important;
}